# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
.env

# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# AI/ML
vector_store/
*.faiss
*.npy

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project Specific
datasets/application_queue.json
backend/datasets/application_queue.json
frontend/dist/
